.boite1{
    background: linear-gradient(to left,green,green); /*degradé qui demarre avec la premiere couleur et finit avec la seconde de haut en bas par defaut, mais ici on a adjoint TO LEFT 
    qui effectue de gauche a droite*/
    width: 10em; /*largeur*/
    height: 10em; /*hauteur*/
    margin: 0 auto; /*pas de marge (valeur 0) en haut et en bas - la valeur auto laisse au navigateur centrer l'élement*/
    border-radius: 5% 10% 15% 20%; /*la proprieté BORDER RADIUS permet d'arrondir plus ou moins les angles*/
    /* border:1px solid red; */
}
.boite2{
    background: linear-gradient(to left,rgb(0, 60, 128),rgb(0, 60, 128)); /*degradé qui demarre avec la premiere couleur et finit avec la seconde de haut en bas par defaut, mais ici on a adjoint TO LEFT 
    qui effectue de gauche a droite*/
    width: 10em; /*largeur*/
    height: 10em; /*hauteur*/
    margin: 0 auto; /*pas de marge (valeur 0) en haut et en bas - la valeur auto laisse au navigateur centrer l'élement*/
    border-radius: 20% 0% 20% 0%; /*la proprieté BORDER RADIUS permet d'arrondir plus ou moins les angles*/
}
.boite3{
    background: linear-gradient(to left, rgb(207, 117, 32), rgb(green)); 
    width: 45em; /*largeur*/
    height: 45em; /*hauteur*/
    margin: 0 auto; 
    border-radius: 70%; 
}
.boite4{
    background: linear-gradient (rgb(65, 207, 176), rgb(207, 117, 32), #ff2e63);
    width: 45em;
    height: 45em; /*hauteur*/
    margin: 0 auto; 
    border-radius: 30%; 
}
.boite5{
    background: linear-gradient (rgb(65, 207, 176), rgb(207, 117, 32), #ff2e63);
    width: 45em;
    height: 45em; /*hauteur*/
    margin: 0 auto; 
    border-radius: 30%; 
}
.boite6{
    background: linear-gradient (rgb(65, 207, 176), rgb(207, 117, 32), #ff2e63);
    width: 45em;
    height: 45em; /*hauteur*/
    margin: 0 auto; 
    border-radius: 30%; 
}