.container{
    color: black;
    margin: 50px 0 0 0;
    border: 2px solid palevioletred;
}

nav{
    text-align: center;
    position: fixed;/* fige la position */
    width: 100%;
    background-color: rgb(86, 184, 241);
    top: 0;
    left: 0;
    color: aliceblue;
}