*{
    margin: 0;
    padding: 0;
}
#container{
    width:100%;
    height: 2000px;
    background: url(../background.png);
}
#nav{
    width: 100%; 
    height:50px;
    background-color: #C55394;
}
#navg{
    width: 20%; 
    height:40px;
    margin: 10px;
    color: aliceblue;
    font-family: 'Courgette', cursive;
    float: left;
}
#navd{
    width: 20%; 
    height:40px;
    margin: 15px;
    color: aliceblue;
    font-family: Arial, sans-serif;
    float: right;
    
}
#navd p{
    display: inline;
    height: 40px;
    width: 100px;
    margin-right: 15px;
    text-align: center;
}
#navd p:hover{
    background-color: rgb(255, 0, 170);
    height: 40px;
}
#sect1{
    margin: 20px auto;
    background: url(../rainbow.png)no-repeat;
    height: 150px;
    width: 400px;   
}
#sect1 h1{
    font-family: 'Dancing Script', cursive;
    color: #C55394;
    text-align: center;
    padding: 20px;
}
#sect2contenu{
    width: 60%;
    height: 1200px;
    margin-top: 200px;
    margin: auto;
    background: lightcyan;
    border-radius: 4px;
}