#container{
    width: 80%;
    height: 1200px;
    margin: 0 auto;
    background-color: rgb(36, 43, 116);
}

#sect1 h1{
    padding-top: 40px;  
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    text-align: center;
    font-size: 80px;

}
#sect1{
    width: 50%;
    height: 300px;
    margin:  auto;
    text-align: center;
}
#sect2{
    width: 90%;
    height: 300px;
    margin:  auto;
    text-align: center;
}
#sect3{
    width: 70%;
    height: 300px;
    margin:  auto;
    text-align: center;
}
#sect4{
    width: 60%;
    height: 300px;
    margin:  auto;
    text-align: center;
}
.chat1, .chat2, .chat3, .chat4{
    height: 250px; 
    width: 20%;
    background-size:cover ;
    padding-left: 50px;
    float: left;
}

.chat5, .chat6,.chat7 {
    height: 250px; 
    width: 20%;
    background-size:cover;
    max-width: 100%;
    max-height: 100%;
    padding-left: 110px;
    float: left;
} 
.chat8, .chat9{
    height: 250px; 
    width: 20%;
    background-size:cover;
    max-width: 100%;
    max-height: 100%;
    padding-left: 170px;
    float: left;
}
img{
    margin: 0 auto;
}
.clear{
    clear:both;
}