*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    background: gray;
}
.container{
    width: 60%;
    height: 1200px;
    background-color: aqua;
}
.text1{
    background-color: aliceblue;
    width: 200px;
    height: 300px;
}